<html>
<head>
	<title>Schools</title>
	<link rel="stylesheet" type="text/css" href="/application.css">
</head>
<body>

<div class = "top-bar"></div>

<div class = "black-bar"><font class = "new-h1">
List of Schools Attended
</font></div>

<div id="blue_box">

<!-- <div id="left"> -->

<ul>
	<% @schools.each do |school| %>
	<li><%= school.name %>
		<%= school.location %>
	<a href = "/schools/<%= school.id %>">DELETE?</a>
	<a href = "/schools/<%= school.id %>/edit">EDIT?</a>
	<a href = "/schools/<%= school.id %>/new">ADD?</a>
	</li>

	<% end %>
</ul>

<!-- </div>


<div class="divider"></div>


<div id="right">
<form action = "/new" method="post">
	<input type = "text" id="description" name="description" class = "input-text"><p></p>
	<input type = "submit" class = "second-button margins">
</form>
</div> -->

</div>

<form action="/schools/results" method="post">
	<input type="text" id="school_name" placeholder="Search schools" 	name="query" value="<%= @results %>">
  <input type="submit" />
</form>





</body>
</html>



